DefaultCharset UTF-8

RewriteEngine On
RewriteBase /
#RewriteRule admin/$ /admin.php [L,QSA]
RewriteCond %{QUERY_STRING} ^page=([^&]+)$
RewriteRule ^index\.php$ %1.html? [R=301,L,NE]
RewriteRule ^([^/]+)\.html index.php?rw=1&page=$1 [L,QSA]
RewriteRule ^admin/([^/]+)\.html admin.php?rw=1&page=$1 [L,QSA]
